div.removePadding {
	padding: 0;
}

.grid {
	padding: 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	/*width: 440px;*/
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

@media ( min-width : 768px) {
	.grid li {
		width: 440px;
	}
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	/* background: #2c3f52; */
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption, .cs-style-1 figure.cs-hover figcaption
	{
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
	
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}

<!--
TEST END -->body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
}

div.technology {
	font: 5 10px/1.3 'Noto Sans', sans-serif;
	width: 600px;
	margin: auto;
	text-align: left;
	font-size: 1em;
	color: white;
}

div.left {
	text-align: left;
}

footer {
	font: 100 10px/1.3 'Arizonia', Helvetica, sans-serif;
	width: 900px;
	margin: auto;
	text-align: center;
	font-size: 1em;
	color: #990000;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

h1.titlename {
	font: 300 50px/1.3 'Arizonia', Helvetica, sans-serif;
	width: 600px;
	margin: auto;
	text-align: left;
	font-size: 1em;
	color: #2b2b2b;
}

h1 {
	font: 'Raleway';
}

h1.skills-link {
	font: 'Raleway';
	font-size: 30px;
	font-weight: 10;
	text-align: center;
}

h2 {
	font: 'Raleway';
	font-size: 20px;
	font-weight: 10;
}

p.interest {
	color: #aa3e03;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 10;
	text-align: center;
}

p.right {
	text-align: right;
}

p.main {
	font: 'Raleway';
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.tileMe li {
	display: inline;
	text-align: center;
	float: left;
}

ul li.center1 {
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 10px;
	margin-bottom: 3px;
}

#menu-outer {
	/* height: 84px; */
	
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 120px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.table1 {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}
.bg {
	
	position: relative;
	top: 0px;
}

hr.line {
	top: -150px;
	left: 0px;
	position: relative;
	z-index: -1;
	color: black;
	border-top: 3px solid black;
}

.circle1 {
	width: 10px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 10px;
	top: 70px;
	left: 310px;
	position: relative;
}

p.name {
	top: 70px;
	left: 295px;
	position: relative;
	max-width :10px;
}

p.name2 {
	top: 0px;
	left: 580px;
	position: relative;
	max-width :10px;
}

p.name3 {
	top: -80px;
	left: 890px;
	position: relative;
	max-width :100px;
}

.circle2 {
	width: 10px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 20px;
	top: 4px;
	left: 600px;
	position: relative;
}

.circle3 {
	width: 10px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top: -82px;
	left: 910px;
	position: relative;
}