div.removePadding {
  
    padding :0;
}

.grid {
	padding: 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	/*width: 440px;*/
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

@media (min-width: 768px) {
.grid li{
width: 440px;
}
}

.grid figure {
	margin: 0;
	position: relative;

}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	/* background: #2c3f52; */
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-size:2em;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}




.cs-style-1 figcaption h3 {
	
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}
<!-- TEST END -->
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
}

div.technology
{
	font: 5 10px/1.3 'Noto Sans', sans-serif;
    width: 600px;
    margin: auto;
    text-align: left;
    font-size: 1em;
    color: white;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
div.left
{
	
    text-align: left;
    
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
footer {
   font: 100 10px/1.3 'Arizonia', Helvetica, sans-serif;
    width: 900px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #990000;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
h1.titlename {
   font: 300 50px/1.3 'Arizonia', Helvetica, sans-serif;
    width: 600px;
    margin: auto;
    text-align: left;
    font-size: 1em;
    color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
h1{
   font: 300 50px/1.3 'Arizonia', Helvetica, sans-serif;
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
h2{
   font: 300 50px/1.3 ''Tangerine', serif;
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #2b2b2b;
   
}
p.interest {
	font: 300 50px/1.3 'Arizonia', Helvetica, sans-serif;
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
p.right 
{
	
    text-align: right;
    
}
p.main {
	font-family: 'Brush Script MT', cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.tileMe li {
	display: inline;
	text-align: center;
	float: left;
}

ul li.center1 {
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 10px;
	margin-bottom: 3px;
}

#menu-outer {
	/* height: 84px; */
	
}

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 120px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


.table1 {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}
/* button:hover:before {
	background-image: images/Technology-Voucher-Program.jpg);
	content:"Reply!} */
	/* #resume
	{
    
    font-size:0;
    width:150px;
    height:50px;
	} */
/* ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	width: 50px;
	padding-top: 20px;
	} */